player-connection-mode=Listen
player-connection-guid=1963848036
player-connection-debug=0
player-connection-project-name=Unity-draw
player-connection-ip=172.24.16.1
player-connection-ip=192.168.44.1
player-connection-ip=192.168.242.1
player-connection-ip=192.168.1.52
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=dfdb980aba8b4e92bf96319817a9e2a6
